{% extends "streams::blank" %}

{% block content %}
    <div id="posts">

        <header>
            <h1>{{ trans('anomaly.module.posts::message.tagged', {'tag': tag}) }}</h1>
        </header>

        {% include "anomaly.module.posts::partials/posts" %}

    </div>
{% endblock %}
