{% extends "streams::blank" %}

{% block content %}

    <h1>{{ trans('anomaly.module.posts::message.tagged', {'tag': tag}) }}</h1>

    {% include "anomaly.module.posts::partials/posts" %}

{% endblock %}
