{% extends layout('posts') %}

{% block content %}
    <div id="posts">

        <header>
            <h1>{{ trans('anomaly.module.posts::message.tagged', {'tag': tag}) }}</h1>
        </header>

        {{ view("anomaly.module.posts::posts/partials/posts", {"posts": posts}) }}

        {{ posts.render|raw }}

    </div>
{% endblock %}
