{% extends "streams::blank" %}

{% block content %}

    <h1>{{ trans('anomaly.module.blog::module.tagged') }} "{{ tag }}"</h1>

    {% include "anomaly.module.blog::partials/posts" %}

{% endblock %}
