{% for post in posts %}
    <article class="post">

        {% include "anomaly.module.posts::partials/post-header" %}

        <div class="excerpt">
            {% if post.excerpt %}
                <p>{{ post.excerpt|raw }}</p>
            {% endif %}
        </div>

    </article>
{% endfor %}
