{% for post in posts %}

    <article class="post">

        {% include "anomaly.module.posts::partials/post-header" %}

        <section class="excerpt">
            {% if post.excerpt %}
                <p>
                    {{ post.excerpt|raw }}
                </p>
            {% endif %}
        </section>

    </article>

{% endfor %}
