{% extends layout('anomaly/posts-module/posts') %}

{% block content %}
    <div id="posts">

        {{ view("anomaly.module.posts::posts/partials/posts", {"posts": posts}) }}

        {{ posts.render|raw }}

    </div>
{% endblock %}
