{% extends post.type.theme_layout ?: "theme::layouts/default" %}

{% block content %}

    <section id="posts">

        <article id="post">

            {% include "anomaly.module.posts::partials/post-header" %}

            <section class="content">
                {{ post.content|raw }}
            </section>

        </article>

    </section>

{% endblock %}
