{% extends post.type.theme_layout ?: "theme::layouts/default" %}

{% block content %}
    <div id="posts">
        <article id="post">

            {% include "anomaly.module.posts::partials/post-header" %}

            <div class="content">
                {{ post.content|raw }}
            </div>

        </article>
    </div>
{% endblock %}
