{% extends blog.layout ?: "theme::defualt" %}

{% block content %}

    <h1>
        {{ blog.name }}
        <br>
        <small>{{ blog.description }}</small>
    </h1>

    <br>

    {% for post in blog.posts %}

        <h1>
            <a href="{{ post.getUrl() }}">
                {{ post.title }}
            </a>
        </h1>

    {% endfor %}

{% endblock %}
