{% extends layout('anomaly/posts-module/archive') %}

{% block content %}
    <div id="posts">

        <header>

            <h1>
                {{ year }}

                {% if month %}
                    <small>{{ month|raw }}</small>
                {% endif %}
            </h1>

        </header>

        {{ view("anomaly.module.posts::posts/partials/posts", {"posts": posts}) }}

        {{ posts.render|raw }}

    </div>
{% endblock %}
