{% extends setting("anomaly.module.posts::theme_layout") ?: "theme::layouts/default" %}

{% block content %}
    <div id="posts">

        <header>

            <h1>{{ category.title }}</h1>

            {% if category.description %}
                <p>{{ category.description|raw }}</p>
            {% endif %}

        </header>

        {{ view("anomaly.module.posts::posts/partials/posts", {"posts": posts}) }}

        {{ posts.render|raw }}

    </div>
{% endblock %}
