{% extends "streams::blank" %}

{% block content %}
    <div id="posts">

        <header>

            <h1>{{ category.title }}</h1>

            <p>{{ category.description|raw }}</p>

        </header>

        {% include "anomaly.module.posts::partials/posts" %}

    </div>
{% endblock %}
