{% extends "streams::blank" %}

{% block content %}

    <h1>
        {{ category.title }}
        <br>
        <small>{{ category.description }}</small>
    </h1>

    <br>

    {% for post in category.posts %}

        <h1>
            <a href="{{ post.getUrl() }}">
                {{ post.title }}
            </a>
        </h1>

    {% endfor %}

{% endblock %}
